header {
  width: 95%;
  margin: 20px auto;
}

.logo {
  width: 100px;
}

.header-content {
  display: inline;
  font-size: 60px;
  font-weight: bold;
}

.sprint-status {
  background-repeat: no-repeat;
  background-size: cover;
}

.success {
  background-image: url("../img/clouds-and-corn.jpg");
}

.ok {
  background-image: url("../img/cloudy-sky.jpg");
}

.danger {
  background-image: url("../img/storm-clouds.jpg");
}

.failed {
  background-image: url("../img/fork-lightning.jpg");
}

.progress-big {
  height: 80px;
}

.progress-bar {
  color: black;
}

.progressBarBig {
  padding-top: 25px;
  font-size: 25px;
  color: black;
  padding-left: 10px;
}

.days-left {
  text-align: center;
  font-size: 30px;
}

.health-top {
  font-size: 30px;
  color: green;
  font-weight: bold;
}

.health-bottom {
  font-size: 20px;
  font-weight: bold;
}

.idealProgress {
  background-color: green;
}

.okProgress {
  background-color: blue;
}

.badProgress {
  background-color: yellow;
}

.dangerProgress {
  background-color: red;
}
