body {
    font-size: 2em;
    font-family: 'Patua One', cursive;
}

.logo {
  width: 100px;
}

header {
  width: 95%;
  margin: 20px auto;
}

.header-content {
  display: inline;
  font-size: 60px;
  font-weight: bold;
    text-shadow: 0px 1px 5px rgba(255, 255, 255, 1);
}

.panel-heading-icon {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 2em;
}


.days-left {
  text-align: center;
}

.progress-big {
    height: 80px;
}

.table {
    margin-bottom: 0; /*remove Bootstrap's */
}


.progress-bar-big {
  padding-top: 25px;
  color: black;
  padding-left: 10px;
  font-size: 1.1em;
}

.panel {
  margin: 10px;
  padding: 0;
  height: 18.5em; /* at least flip panel must have a fixed heigh*/
}


table td {
    padding: 0.1em;
}

.metric {
    font-weight: bold;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}


.analysis-content {
    display: flex;
    align-items: baseline;
}

.analysis-status-icon {
    font-size: 4em;
    margin-right: 0.5em;
}

.analysis-glyphicon {
    top: 20px;
}

.code-glyphicon {
    font-size: 4em;
    position: absolute;
    top: 235px;
}

.glyphicon-fire {
    text-shadow: 2px -1px 6px rgba(89, 58, 0, 1);
}

dl {
    margin: 30px 50px 10px;
}

dt {
    margin-bottom: 8px;
}

.team-panel {
    text-align: center;
    margin: 20px;
}

.bill-is-broken {
    text-align: center;
}

/* Flipping through CSS adapted from:
    https://davidwalsh.name/css-flip
    https://codepen.io/darkwing/pen/bCali*/
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.flipping .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 100%;
  /*height: 13em;*/
}

.flipper {
  -webkit-transition: 2.0s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 2.0s;
  -moz-transform-style: preserve-3d;
  -o-transition: 2.0s;
  -o-transform-style: preserve-3d;
  transition: 2.0s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  position: absolute;
}


/* styles for boards when 'IN DANGER' */
.board-in-danger {
    background-color: #c77270;
    border: 3px solid #b94e4c;
    color: white;
}

.board-header-in-danger {
    background-color: #cb8e8d;
    padding: 10px 15px;
    border-bottom: 1px solid #b94e4c;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/* styles for boards when 'DOING BAD' */
.board-bad {
    background-color: #f3e28a;
    border: 3px solid #ddbd17;
    /*color: white;*/
}

.board-header-bad {
    background-color: #f6ebae;
    padding: 10px 15px;
    border-bottom: 1px solid #ddbd17;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/* styles for boards when 'DOING OK' */
.board-ok {
    background-color: #bce8f1;
    border: 3px solid #31708f;
}

.board-header-ok {
    background-color: #d9edf7;
    padding: 10px 15px;
    border-bottom: 1px solid #31708f;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/* styles for boards when 'DOING IDEAL' */
.board-success {
    background-color: #d6e9c6;
    border: 3px solid #3c763d;
}

.board-header-success {
    background-color: #dff0d8;
    padding: 10px 15px;
    border-bottom: 1px solid #3c763d;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/* style for sprint progress bar as per sprint status */

.ideal-progress {
    background-color: #007E33;
}

.ok-progress {
    background-color: #0099CC;
}

.bad-progress {
    background-color: #FF8800;
}

.danger-progress {
    background-color: #CC0000;
}

/* style to color code metrics as per their status */
.text-in-danger {
    color: #CC0000;
}

.text-bad {
    color: #FF8800;
}

.text-ok {
    color: #0099CC;
}

.text-ideal {
    color: #007E33;
}

/* Set up background as per general status */
.general-status {
    background-repeat: no-repeat;
    background-size: cover;
}

.success {
    background-image: url("../img/clouds-and-corn.jpg");
}

.ok {
    background-image: url("../img/cloudy-sky.jpg");
}

.danger {
    background-image: url("../img/storm-clouds.jpg");
}

.failed {
    background-image: url("../img/fork-lightning.jpg");
}



